:root {
    --gray: #E5E5E5;
    --gray-light: #EFEFEF;
    --black: #0D0D0D;
    --white: #FFFFFF;
    --yellow: #F3CE00;

    --gradient-red: linear-gradient(92.64deg, #FF5621 29.24%, #F21313 83.67%);
}